if status is-interactive
    # Commands to run in interactive sessions can go here
    set -Ux PYENV_ROOT $HOME/.pyenv
    set -U fish_user_paths $PYENV_ROOT/bin $fish_user_paths
end

# pyenv setup
pyenv init - | source

# nvm setup
nvm use node > /dev/null 2>&1

# add to path
fish_add_path ~/.emacs.d/bin

# ~~~~ aliases ~~~~
# ls swap to exa
alias ls="exa"
alias ll="exa -l -a --icons"
alias l.='ll -d .* '

# map vim to nvim, faster than typing nvim
alias vim="nvim"

# git alias
alias g="git"

# add starship
starship init fish | source

{{- if (eq .chezmoi.os "linux") }}
# Linux differences!
fish_add_path /home/clayk/.spicetify
fish_add_path /home/clayk/.local/bin/

# dropbox alias
alias dbx="dropbox"
{{- end }}

# Need to make this free of OS, maybe just don't manage it
# >>> conda initialize >>>
# !! Contents within this block are managed by 'conda init' !!
eval /home/clayk/miniconda3/bin/conda "shell.fish" "hook" $argv | source
# <<< conda initialize <<<

