#!/usr/bin/env bash

# main useful packages needed
{{- if (eq .chezmoi.os "darwin") }}
echo "Installing homebrew"
type brew &> /dev/null || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh

echo "Installing packages from homebrew"

# nerd fonts
brew tap homebrew/cask-fonts
brew install --cask font-caskaydia-cove-nerd-font
brew install --cask font-fira-code-nerd-font
brew install --cask font-jetbrains-mono-nerd-font

# main packages
brew install exa nvim pyenv pyenv-virtualenv neofetch git-delta git git-extras

# emacs 29
brew tap d12frosted/emacs-plus
brew install emacs-plus@29 --with-imagemagick --with-native-comp --with-modern-black-gnu-head-icon

{{- else }}
echo "Installing linux specific packages...(ASSUMING DEBIAN)"
sudo apt install exa 
sudo apt-get install nvim
sudo sh -c "$(curl https://pyenv.run | bash)" -- -y
echo "Cannot install git-delta from this script, please manually install"
echo "Cannot install nerdfonts from this script, please manually install"
{{- end }}

# mamba (conda alternative) (WONT WORK ON WINDOWS)
curl -L -O "https://github.com/conda-forge/miniforge/releases/latest/download/Mambaforge-$(uname)-$(uname -m).sh"
bash Mambaforge-$(uname)-$(uname -m).sh

# vim plugged
echo "Installing vim plug"
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'

# starship
echo "Installing starship"
{{- if (eq .chezmoi.os "darwin") }}
brew install starship
{{- else }}
sudo sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- -y
{{- end }}

# install zsh extras
rm -rf ~/.zsh/zsh-autosuggestions
git force-clone https://github.com/zsh-users/zsh-autosuggestions ~/.zsh/zsh-autosuggestions

rm -rf ~/.zsh/zsh-syntax-highlighting
git force-clone https://github.com/zsh-users/zsh-syntax-highlighting.git ~/.zsh/zsh-syntax-highlighting

