#!/usr/bin/env bash

# main useful packages needed
{{- if (eq .chezmoi.os "darwin") }}
echo "Installing homebrew"
type brew &> /dev/null || curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh

echo "Installing packages from homebrew"
brew tap homebrew/cask-fonts
brew install --cask font-hack-nerd-font
brew install exa nvim pyenv zsh-syntax-highlighting zsh-autosuggestions pyenv-virtualenv neofetch git-delta
{{- else }}
echo "Installing linux specific packages...(ASSUMING DEBIAN)"
sudo apt install exa 
sudo apt-get install nvim
sudo sh -c "$(curl https://pyenv.run | bash)" -- -y
echo "Cannot install git-delta from this script, please manually install"
echo "Cannot install nerdfonts from this script, please manually install"
{{- end }}

# vim plugged
echo "Installing vim plug"
sh -c 'curl -fLo "${XDG_DATA_HOME:-$HOME/.local/share}"/nvim/site/autoload/plug.vim --create-dirs \
       https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim'

# starship
echo "Installing starship"
{{- if (eq .chezmoi.os "darwin") }}
brew install starship
{{- else }}
sudo sh -c "$(curl -fsSL https://starship.rs/install.sh)" -- -y
{{- end }}

