Host github.com
  HostName github.com
  User git
  IdentityFile ~/.ssh/id_ed25519_github

{{ if .lightsail }}
Host lightsail
  HostName {{ .lightsail_ip }}
  User {{ .lightsail_user }}
  IdentityFile ~/.ssh/LightsailDefaultKey-us-east-2.pem
{{ end }}

Host 10.97.0.10
  HostName 10.97.0.10
  User git
  IdentityFile ~/.ssh/id_ed25519_pba

Host rpi
  HostName 172.27.1.12
  User pi
  IdentityFile ~/.ssh/id_ed25519_rpi

